<h1 class="text-blue">Ember League Table</h1>

<div class="flex">
  <div class="flex-1 bg-red h-screen">
      left
      <GameResults @games ={{this.gameSimulator.games}} />
  </div>

  <div class="flex-1 bg-blue h-screen">
      right
      <LeagueTable @games ={{this.gameSimulator.games}}/>
  </div>
  
</div>


<hr>
